[Unit]
Description=Mirror my github to other github

[Timer]
OnCalendar=*-*-* *:00:00
Unit=caladrius-mirror.service
RandomizedDelaySec=1h
Persistent=false

[Install]
WantedBy=timers.target
