[Unit]
Description=Start uwsgi for hosting RSS feeds

[Service]
ExecStart=uwsgi --ini /caladrius/server/uwsgi/wsgi_config.ini
User=http
Group=http

[Install]
WantedBy=multi-user.target
