<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.ua.cs.cs495.caladrius.caladrius">

    <application
        android:allowBackup="true"
        android:icon="@drawable/caladrius_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/caladrius_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".GraphActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_graph"
            android:theme="@style/FullscreenTheme" />

        <activity android:name=".MainScreen"></activity>
        <activity android:name=".LoginScreen"></activity>
        <activity android:name=".AllData" />
        <activity android:name=".Calender" />
        <activity android:name=".Edit" />
        <activity android:name=".rss.FeedEditor" />
    </application>
</manifest>